In [3]:
# task 1:
'''Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone,
e della zona in cui vivono, rispetto ai costi individuali 
per le cure mediche come premio per le assicurazioni sulla salute.
importa db'''

import pandas as pd

df = pd.read_csv('insurance.csv')

In [13]:
# task 2:
'''• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna'''

df.shape
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [26]:
# task 3:
'''• Quali sono le medie di charges rispetto a region? 
Ci sono differenze significative? non significativamente'''

df.groupby('region')['charges'].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [30]:
# task 4:
'''E rispetto a smoker?
E a sex?'''

df.groupby(['smoker','sex'])['charges'].mean()

smoker  sex
no      female     8762.297300
        male       8087.204731
yes     female    30678.996276
        male      33042.005975
Name: charges, dtype: float64

In [95]:
# task 5:
'''• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto
ai diversi quartili dei valori di bmi?'''

df.loc[:,'bmi'].describe()
quartile_25 = df[df['bmi']<26.29]
quartile_50 = df[df.bmi < 30.40]
quartile_75 = df[df.bmi < 34.69]
quartile_25['charges'].agg(['min', 'max', 'mean'])
quartile_50.charges.agg(['min', 'max', 'mean'])
quartile_75.charges.agg(['min', 'max', 'mean'])

min      1121.87390
max     62592.87309
mean    12028.77986
Name: charges, dtype: float64