In [109]:
# task 1:
'''Il dataset pokemon.csv contiene un database di Pokémon, 
con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari.
importa db'''

import pandas as pd

df = pd.read_csv('pokemon.csv')

In [7]:
# task 2:
'''• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna'''

df.shape
df.columns

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [21]:
# task 3:
'''• È verosimile che la prima colonna dovrebbe essere un indice?'''

# si ma non lo è

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,310,45,53,70,40,60,42,5,False

In [ ]:
# task 4:
'''• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?'''

# no

In [217]:
# task 5:
'''• Se no, settare la prima colonna come indice.'''

df.set_index('#')

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Fire,Water,600,80,110,120,130,90,70,6,True

In [113]:
df.drop('#', axis = 1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [240]:
# task 6:
'''• Quali sono i Pokémon leggendari?'''

pokemon_legendari = df[df['Legendary'] == True]
pokemon_legendari

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Articuno,144,Ice,Flying,580,90,85,100,95,125,85,1,True
Zapdos,145,Electric,Flying,580,90,90,85,125,90,100,1,True
Moltres,146,Fire,Flying,580,90,100,90,125,85,90,1,True
Mewtwo,150,Psychic,NaN,680,106,110,90,154,90,130,1,True
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [250]:
# task 7:
'''• E quali sono i leggendari di tipo 1 Grass?'''

pokemon_legendari_grass = df[(df['Legendary'] == True) & (df['Type 1'] == 'Grass')]
pokemon_legendari_grass

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
ShayminLand Forme,492,Grass,NaN,600,100,100,100,100,100,100,4,True
ShayminSky Forme,492,Grass,Flying,600,100,103,75,120,75,127,4,True
Virizion,640,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [254]:
# task 8:
'''• E leggendari di tipo 1 Ice o Fire?'''

pokemon_legendari_ice_fire = df[(df['Legendary'] == True) & ((df['Type 1'] == 'Fire') | (df['Type 1'] == 'Ice'))]
pokemon_legendari_ice_fire

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Articuno,144,Ice,Flying,580,90,85,100,95,125,85,1,True
Moltres,146,Fire,Flying,580,90,100,90,125,85,90,1,True
Entei,244,Fire,NaN,580,115,115,85,90,75,100,2,True
Ho-oh,250,Fire,Flying,680,106,130,90,110,154,90,2,True
Regice,378,Ice,NaN,580,80,50,100,100,200,50,3,True
Heatran,485,Fire,Steel,600,91,90,106,130,106,77,4,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [256]:
# task 9:
'''• Ordiniamo il dataset per la colonna Name'''

df.sort_values(by = 'Name', ascending = True)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,Dark,NaN,510,60,105,60,120,60,105,5,False
Zorua,570,Dark,NaN,330,40,65,40,80,40,65,5,False
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [ ]:
# task 10:
'''• Trasformiamo Name nell'indice'''

df.set_index('Name', inplace = True)

In [211]:
# task 11:
'''• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?'''

pokemon_1_gen = df[(df['Generation'] == 1) & (df['Attack'] > 50) & (df['HP'] < 60)]
pokemon_1_gen

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False
Rattata,19,Normal,NaN,253,30,56,35,25,35,72,1,False
Raticate,20,Normal,NaN,413,55,81,60,50,70,97,1,False
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False
Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False
Pikachu,25,Electric,NaN,320,35,55,40,50,50,90,1,False
Sandshrew,27,Ground,NaN,300,50,75,85,20,30,40,1,False
Nidoran♂,32,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,46,Bug,Grass,285,35,70,55,45,55,25,1,False
Diglett,50,Ground,NaN,265,10,55,25,35,45,95,1,False
Dugtrio,51,Ground,NaN,405,35,80,50,50,70,120,1,False
Psyduck,54,Water,NaN,320,50,52,48,65,50,55,1,False
Mankey,56,Fighting,NaN,305,40,80,35,35,45,70,1,False
Growlithe,58,Fire,NaN,350,55,70,45,70,50,60,1,False
Bellsprout,69,Grass,Poison,300,50,75,35,70,30,40,1,False
Geodude,74,Rock,Ground,300,40,80,100,30,30,20,1,False
Graveler,75,Rock,Ground,390,55,95,115,45,45,35,1,False
Ponyta,77,Fire,NaN,410,50,85,55,65,65,90,1,False
Magneton,82,Electric,Steel,465,50,60,95,120,70,70,1,False
Farfetch'd,83,Normal,Flying,352,52,65,55,58,62,60,1,False
Doduo,84,Normal,Flying,310,35,85,45,35,35,75,1,False
Shellder,90,Water,NaN,305,30,65,100,45,25,40,1,False
Cloyster,91,Water,Ice,525,50,95,180,85,45,70,1,False
Krabby,98,Water,NaN,325,30,105,90,25,25,50,1,False
Kingler,99,Water,NaN,475,55,130,115,50,50,75,1,False
Hitmonlee,106,Fighting,NaN,455,50,120,53,35,110,87,1,False
Hitmonchan,107,Fighting,NaN,455,50,105,79,35,110,76,1,False
Koffing,109,Poison,NaN,340,40,65,95,60,45,35,1,False
Seadra,117,Water,NaN,440,55,65,95,95,45,85,1,False
Goldeen,118,Water,NaN,320,45,67,60,35,50,63,1,False
Eevee,133,Normal,NaN,325,55,55,50,45,65,55,1,False
Kabuto,140,Rock,Water,355,30,80,90,55,45,55,1,False
Dratini,147,Dragon,NaN,300,41,64,45,50,50,50,1,False