In [3]:
# task 1:
'''importa db iris.csv'''

import pandas as pd

df = pd.read_csv('iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
# task 2:
'''• La media della lunghezza dei petali di tutto il dataset'''

df['petal_length'].mean()

3.758666666666666

In [11]:
# task 3:
'''• La media della lunghezza dei petali per ogni specie di Iris, 
utilizzando il metodo .groupby()'''

df.groupby('species')['petal_length'].mean()

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [15]:
# task 4:
'''• Media, minimo e massimo della larghezza dei sepali per ogni specie, 
utilizzando .groupby() e .agg()'''

df.groupby('species')['sepal_width'].agg(['min', 'max', 'mean'])

                 min  max   mean
species
Iris-setosa      2.3  4.4  3.418
Iris-versicolor  2.0  3.4  2.770
Iris-virginica   2.2  3.8  2.974