In [1]:
# task1:
'''importa db boston.csv'''

import pandas as pd

df = pd.read_csv('boston.csv')
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [ ]:
'''
• CRIM - tasso di criminalità pro capite per città
• ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati. 
• INDUS - percentuale di acri di attività commerciali non al dettaglio per città. 
• CHAS - variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
• NOX - concentrazione di ossidi di azoto (parti per 10 milioni). 
• RM - numero medio di stanze per abitazione 
• AGE - proporzione di unità abitative occupate da proprietari costruite prima del 1940
• DIS - distanze ponderate da cinque centri occupazionali di Boston
• RAD - indice di accessibilità alle autostrade radiali 
• TAX - aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari 
• PTRATIO - rapporto alunni-insegnanti per città 
• BLACK - la percentuale di neri per città
• LSTAT - % di popolazione di condizione più bassa 8 
• MEDV - Valore mediano delle case, espresso in migliaia di dollari'''

In [7]:
# task 2:
'''• La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?'''

df.groupby('chas').medv.mean()

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [79]:
# task 3:
'''• Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni?
Come si può spiegare il risultato?'''

df[['crim','medv']].sort_values(by = 'medv').head(50).mean()
print(df[['crim','medv']].sort_values(by = 'medv').head(50).mean())

df[['crim','medv']].sort_values(by = 'medv').tail(50).mean()
print(df[['crim','medv']].sort_values(by = 'medv').tail(50).mean())

# all'aumentare del valore delle abitazione decresce la criminalità.

crim    18.748121
medv     9.650000
dtype: float64
crim     1.022827
medv    43.296000
dtype: float64

In [83]:
# task 4:
'''• Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti?
E del valore delle case? Appare esserci una qualche correlazione? 
Come si può spiegare il risultato?'''

df.groupby('ptratio').rm.mean()
print(df.groupby('ptratio').rm.mean())

df.groupby('ptratio').medv.mean()
print(df.groupby('ptratio').medv.mean())

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64
ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [39]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [64]:
# task 5:
'''• Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni?
E del numero di stanze? E delle tasse?'''

df.groupby('rad').age.mean()
print(df.groupby('rad').age.mean())

df.groupby('rad').rm.mean()
print(df.groupby('rad').rm.mean())

df.groupby('rad').tax.mean()

rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64
rad
1     6.555850
2     6.649958
3     6.473026
4     6.133118
5     6.393157
6     6.104731
7     6.647765
8     6.950792
24    6.022152
Name: rm, dtype: float64

rad
1     291.450000
2     260.666667
3     246.078947
4     335.981818
5     331.843478
6     372.884615
7     304.411765
8     301.250000
24    666.000000
Name: tax, dtype: float64